<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/txyspring</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>        
        
        <mapping class="com.tongmeng.txyspring.model.Sliders" />
        <mapping class="com.tongmeng.txyspring.model.CommonActInfo" />
        <mapping class="com.tongmeng.txyspring.model.ActCode" />
        <mapping class="com.tongmeng.txyspring.model.ActCodeId" />
        <mapping class="com.tongmeng.txyspring.model.ActExtraInfo" />
        <mapping class="com.tongmeng.txyspring.model.JobExtraInfo" />
        <mapping class="com.tongmeng.txyspring.model.PostExtraInfo" />
        <mapping class="com.tongmeng.txyspring.model.SchCode" />
        <mapping class="com.tongmeng.txyspring.model.SchCodeId" />    
        
    </session-factory>
</hibernate-configuration>
